body {
	background-color: whitesmoke;
	padding-left: 15%;
	padding-right: 15%;
}

#homebutton {
	margin-top: 2%;
}

h2 {
	text-align: center;
	font-color: darkmagenta;
}

#introtogit {
	font-size: 18px;
	font-family: Arial;

}


.container > div {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
  	align-items: center;
  	background-color: white;
  	padding: 3%;
}


h4 {
	text-align: center;
}

@media (max-width: 999px) {
	body {
		/*padding-left: 20px;*/
		/*padding-right: 20px;*/
		margin-left: 3%;
		margin-right: 3%;
		/*background-image: url("sky.jpg");*/
		background-repeat: no-repeat;
		background-size: cover;
	}
